<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noteworthy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>NOTEWORTHY</h1>
        <form id="noteForm">
            <div class="form-group">
                <label for="noteTitle"><h3>Title:</h3></label>
                <input type="text" class="form-control" id="noteTitle">
            </div>
            <div class="form-group">
                <label for="noteText"><h3>Note:</h3></label>
                <textarea class="form-control" id="noteText" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary add-btn">Add Note</button>
        </form>
        <hr>
        <h2>Notes:</h2>
        <ul id="noteList" class="list-group">
            <!-- Notes will be dynamically added here -->
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>